@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

html,
body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
  height: 100%;
  width: 100%;
}
